<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150"
                     src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="head">
                {{!-- <span class="font-weight-bold">{{user.firstName}} {{user.lastName}}</span> --}}
                <span style="color: black;">{{user.account}}</span><span> </span>
            </div>
        </div>
        <div class="col-md-8 border-right">
            <form id="updateInfo" class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h1 class="text-right">Profile Settings</h1>
                </div>
                <div class="row mt-2">
                    <div id="first" class="col-md-6 mt-2">
                        <label class="labels" for="firstName" style="color: black;">Firstname</label>
                        <input name="firstName" id="firstName" type="text" class="form-control"
                               placeholder="Firstname" value="{{user.firstName}}">
                    </div>
                    <div id="last" class="col-md-6 mt-2">
                        <label class="labels" for="lastName" style="color: black;">Lastname</label>
                        <input name="lastName" id="lastName" type="text" class="form-control"
                               value="{{user.lastName}}" placeholder="Lastname">
                    </div>
                    <div id="p" class="col-md-12 mt-2">
                        <label class="labels" for="password" style="color: black;">password</label>
                        <input name="password" id="password" type="password" class="form-control"
                               placeholder="password" value="">
                    </div>
                    <div id="pre" class="col-md-12 mt-2">
                        <label class="labels" for="prePassword" style="color: black;">Previous password</label>
                        <input name="prePassword" id="prePassword" type="password" class="form-control"
                               placeholder="Previous password" value="">
                    </div>
                    <div id="new" class="col-md-12 mt-2">
                        <label class="labels" for="newPassword" style="color: black;">New password</label>
                        <input name="newPassword" id="newPassword" type="password" class="form-control"
                               placeholder="New password" value="">
                    </div>
                    <div id="confirm2" class="col-md-12 mt-2">
                        <label class="labels" for="confirmPw" style="color: black;">Confirm new password</label>
                        <input name="confirmPw" id="confirmPw" type="password" class="form-control"
                               placeholder="Confirm new password password" value="">
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <button class="btn btn-primary" type="submit">Save Profile</button>
                    <button id="changePassword" class="btn btn-primary" type="button">Change Password</button>
                    <button id="changeInfo" class="btn btn-primary" type="button">Change Name</button>
                </div>
            </form>
        </div>
    </div>
</div>


{{!-- <form action="/users" method="post"> --}}
{{!-- <form id="updateInfo"> --}}
{{!-- <input type="prepassword" placeholder="previous password" name="prepassword" id="prepassword"
    required> --}}
{{!-- <input type="password" placeholder="password" name="password" id="password" required>
<input type="confirmPw" placeholder="confirm new password" name="confirmPw" id="confirmPw" required>
<input type="firstName" placeholder="firstName" name="firstName" id="firstName">
<input type="lastName" placeholder="lastName" name="lastName" id="lastName">
<button type="submit">Submit</button>
</form>
</br> --}}
{{!-- <form action="/users/password" method="post"> --}}
{{!-- <form id="updatePassword">
    <input type="password" placeholder="previous password" name="prepassword" id="prepassword" required>
    <input type="password" placeholder="new password" name="newPassword" id="newPassword" required> <input
        type="password" placeholder="confirm new password" name="confirmPw" id="confirmPw" required>
    <button type="submit">Submit</button>
</form> --}}

